#mosque-name {
  color: cornflowerblue;
  margin: 0;
}

#select-holder {
  display: flex;
  justify-content: end;
}

#timings {
  direction: rtl;

  width: fit-content;
  margin: 16px auto;

  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 16px 16px;

  row-gap: 16px;
  column-gap: 24px;

  padding: 16px;

  border-radius: 8px;
}

#timings > * {
  display: flex;
  justify-content: center;
}

main a {
  padding: 8px;
}
