#mosque-name {
  color: cornflowerblue;
  margin: 0;
}

#select-holder {
  display: flex;
  justify-content: end;
}

.table {
  width: fit-content;
  display: grid;
}

#prayer-timings {
  direction: rtl;
  margin: 16px auto;
  padding: 16px;

  grid-auto-flow: column;
  grid-template-rows: 16px 16px;

  row-gap: 16px;
  column-gap: 24px;
}

#other-timings {
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;

  margin: 16px;
  margin-top: 32px;

  gap: 8px;
}

#other-timings :nth-child(odd) {
  font-weight: bold;
}

#timings > * {
  display: flex;
  justify-content: center;
}

main a {
  padding: 8px;
}

h2 {
  margin: 16px;
}
