main {
  width: 50ch;

  margin-inline: auto;
  padding: 0.5rem 2rem;

  background-color: white;
  border-radius: 0.5rem;
}

li {
  padding-block: 0.25rem;

  color: dodgerblue;
  cursor: pointer;
}

li:hover {
  color: rgb(10, 73, 136);
}
