main {
  width: 50ch;

  margin-inline: auto;
  padding: 8px 32px;

  background-color: white;
  border-radius: 8px;
}

li {
  padding-block: 4px;

  color: dodgerblue;
  cursor: pointer;
}

li:hover {
  color: rgb(10, 73, 136);
}
